.App {
    text-align: center;
    margin: 5px auto;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.App-header {
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
}

.Weather-current {
    background-color: #f2f2f2;
    /*display: none;*/
    margin: 10px;
    padding: 20px;
}

.Weather-forecast {
    background-color: #f2f2f2;
    /*display: none;*/
    padding: 20px;
    margin: 10px;
}
